
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShopApp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/style.css">
    <style>
    </style>
</head>
<body>



    @await Html.PartialAsync("~/Views/Shared/_navbar.cshtml")


    <main class="my-3">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    @RenderBody()
                </div>
            </div>




        </div>
    </main>
    <footer class="py-5 bg-dark text-white text-center">
        Shop App 2022
    </footer>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.1.0-5/css/all.css" integrity="sha512-hfVul4ZiNO3U3dM4bwj4/dse2gq0mYM/zIIard7e9dc6raAJ3AEvskqwTWqCCORShcoFh+N1GUbgxoDb2ytuow==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    @RenderSection("Scripts", false)
</body>
</html>