
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <style>
  
    </style>
</head>
<body style="background-color:yellow;">
    @await Html.PartialAsync("~/Views/Shared/_navbar.cshtml")
    @await Html.PartialAsync("~/Views/Shared/_header.cshtml")

    <main>
        <div class="container">        
                @RenderBody()
        </div>
    </main>
</body>
</html>