@model ShopApp.WebUI.Models.Product
<div class="card">
    <img class="card-img-top" src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcQSVxieITjS47Uq6HQBwjBjBCrK23PBBoEa-r_XVYAZ5kil-1Zr4ysxYaDixF6NEduM5t3HO6rXYi3O4yeGh2T2gKXT1rqGM704gQDjq9_BnFjllZJEavEf3HA&usqp=CAE" alt="" />
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Description</p>
        <a href="" class="btn btn-primary">İncele</a>
    </div>
</div>